[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-ollama = "*"
langchain-community = "*"
langchainhub = "*"
python-dotenv = "*"
black = "*"
langchain-udemy = {file = ".", editable = true}
langchain-tavily = "*"

[dev-packages]

[requires]
python_version = "3.11"
